#######################################################################
# Acuity Services: Example configuration file                         #
#######################################################################
# General Syntax:
# VariableName "value"
# 
# Anope users should feel right at home, it's a familiar format. Every
# configuration item will be labelled required or optional and have
# more description to it. Recommended optional values are uncommented.
#
# Recommended values are usually options that make Acuity behave sane,
# but could need to be changed in some scenarios like small private
# networks.
#
# Throughout the example configuration file, we'll assume a fictional
# network "neo-hydra network" on irc.neo-hydra.invalid for examples.
#######################################################################
# ServerName: required
# Specifies the server name for services to identify themselves with.
# You'll need to specify this in your IRCd's link block or equivalent.
# Remember to allow this server to act as a hub IRCd-side if you intend
# to use services to jupe servers.
ServerName "services.neo-hydra.invalid"

# ServerDesc: required
# Specifies the server description. This is only shown in /WHOIS output
# and some other places, mostly for vanity. You're welcome to put a
# witty slogan here.
ServerDesc "neo-hydra network services"

# ServerId: required
# The server id is required in server-to-server linking. InspIRCd and
# TS6 IRCds use this format: [0-9][0-9A-Z][0-9A-Z]
ServerId "666"

# HubHost: required
# This is where services will try to connect to.
HubHost "127.0.0.1"

# HubPort: required
# Acuity will connect to this port on HubHost.
HubPort "7000"

# HubPass: required
# This password will be sent to (and expected from) the uplink.
HubPass "n30-hydr4"

# ServicesModes: optional (default: +Ik)
# Services clients will get these user modes. Please don't change them
# if you don't know what you're doing.
#ServicesModes "+Ik"

#######################################################################
# NickServ configuration
#######################################################################
# NickServNick: optional (default: NickServ)
# The nick for the NickServ client. You shouldn't change this.
#NickServNick "NickServ"

# NickServIdent: optional (default: NickServ)
# The ident for the NickServ client.
#NickServIdent "Auth"

# NickServHost: optional (default: nick.auth.services)
# The host for the NickServ client.
#NickServHost "services.neo-hydra.invalid"

# NickServGECOS: optional (default: Nick Authentication Services)
# The GECOS (aka ircname/realname) for the NickServ client.
#NickServGECOS "neo-hydra network Nick Service"

# NickServMinPasslen: optional (default: 1)
# Force that user passwords are at least NickServMinPasslen characters
# in length.
NickServMinPasslen "6"

# NickServMaxGroupedNicks: optional (default: unlimited)
# Specifies how many nicks may be in a nick group. You may want to keep
# this amount reasonably low, otherwise there might be abuse of the
# service just for vanity.
NickServMaxGroupedNicks "10"

# NickServGuestNick: optional (default: Guest)
# When users don't identify in time for their protected nick, their
# nick will be changed to this value plus a random number between 1001
# and 8191
#NickServGuestNick "Fail"

# NickServMaxKillTime: optional (default: 253)
# The maximum time a user may specify in /ns set kill for services to
# wait for identification before changing the user's nick.
#NickServMaxKillTime "253"

# NickServDefaultProtection: (default: 20)
# Specifies the default time for services to wait before changing an
# unidentified user's nick. You probably won't want to set this very
# low. Special cases:
# -1: Immediate
# -2: Turn off protection and just send a warning notice
# 0 and any other negative numbers other than the other two listed
# above will result in sort of immediate action -- you shouldn't use
# them if you like your Acuity to work consistently and correctly.
NickServDefaultProtection "60"

#######################################################################
# OperServ configuration
#######################################################################
# OperServNick: optional (default: OperServ)
# The nick for the OperServ client. You shouldn't change this.
#OperServNick "OperServ"

# OperServIdent: optional (default: OperServ)
# The ident for the OperServ client.
#OperServIdent "BlackBox"

# OperServHost: optional (default: operator.black.box)
# The host for the OperServ client.
#OperServHost "services.neo-hydra.invalid"

# OperServGECOS: optional (default: Operator Services)
# The GECOS (aka ircname/realname) for the OperServ client.
#OperServGECOS "neo-hydra network Oper Service"

# OperServQuit: optional (default: Services are shutting down.)
# This defines the quit message all services clients will appear to quit
# with when /os quit is called.
#OperServQuit "Something messed up so badly we need to shut services down."

# EOF
